PORT=5000

MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/nextalk?retryWrites=true&w=majority

JWT_SECRET=<long_random_string_min_32_chars>
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

GOOGLE_CLIENT_ID=<your_google_client_id>.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=<your_google_client_secret>
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

VAPID_PUBLIC_KEY=BI-A2r5HmW0tQtTVLRRMaeYI9RnGHGxdQsWUFmdZo_HHBuDrFw-Z9woywe_TMDNXW3aljVhrBVROHI4qcph46h4
VAPID_PRIVATE_KEY=qEb2vgLCuXn1ol3447SP-F7Eb-DNafuSjgFjFS4I4oc

MFA_ENCRYPTION_KEY=<exactly_64_hex_characters>
